# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/src/bower_components
/public/bower_components
package-lock.json

# IDEs and editors
/.idea


#System Files
.DS_Store
Thumbs.db


# Build Artifacts
upload.zip
resetConfig.sh